---
import ProcessPageStep from '../ui/ProcessPageStep.astro';
import { useI18n } from '../../i18n/utils';

const { t } = useI18n(Astro.url);

// Define step images - using placeholder images for now
const stepImages = [
  '/images/Landing/ProcessImage.jpg',
  '/images/Product/bmg-logo.png',
  '/images/Product/consultation-meeting.png',
  '/images/Product/buddha-halo.png',
  '/images/Product/construction-scaffolding.png',
  '/images/Product/building-exterior.png',
];

// Build steps array from translations
const steps = [
  { ...t.processPage.steps['1'], image: stepImages[0] },
  { ...t.processPage.steps['2'], image: stepImages[1] },
  { ...t.processPage.steps['3'], image: stepImages[2] },
  { ...t.processPage.steps['4'], image: stepImages[3] },
  { ...t.processPage.steps['5'], image: stepImages[4] },
  { ...t.processPage.steps['6'], image: stepImages[5] },
];
---

<section id="process-steps" class="py-16 lg:py-24 bg-gray-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="space-y-16 lg:space-y-24">
      {steps.map((step, index) => (
        <ProcessPageStep
          stepNumber={step.number}
          title={step.title}
          subtitle={step.subtitle}
          description={step.description}
          bulletPoints={step.bulletPoints}
          imageSrc={step.image}
          imageAlt={step.imageAlt}
          reverse={index % 2 === 1}
        />
      ))}
    </div>
  </div>
</section>
